<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mawaqaa.alrai">

    <uses-permission android:name="android.permission.INTERNET" />
<!--
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
-->

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/logo3x"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/logo3x"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1793316997649572"
            android:exported="true" />

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth" />
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingActivity"
            android:description="@string/title_activity_setting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth" />
        <activity
            android:name=".activity.ViewProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth" />
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth" />
        <activity
            android:name=".activity.NewsDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PopupActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity
            android:name=".activity.SavedNewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.test"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AlNasherActivity"
            android:screenOrientation="portrait"
             />
        <activity
            android:name=".activity.NewsPaperActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.RimaActivity"
            android:screenOrientation="portrait"
            />
    </application>

</manifest>